

body 
{
	margin:0;
	font-size:13px;
	color: #330000;
	
	overflow:auto;/*滚动条自动显示*/
	
	SCROLLBAR-FACE-COLOR: #E8F4FF; 
	SCROLLBAR-HIGHLIGHT-COLOR: #76A5CB; 
	SCROLLBAR-SHADOW-COLOR: #76A5CB; 
	SCROLLBAR-3DLIGHT-COLOR: #E8F4FF; 
	SCROLLBAR-ARROW-COLOR: #76A5CB; 
	SCROLLBAR-TRACK-COLOR: #eeeeee; 
	SCROLLBAR-DARKSHADOW-COLOR:#E8F4FF;
}

#guard {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 194px; PADDING-TOP: 300px;
}
#detail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 460px; LINE-HEIGHT: 20px; PADDING-TOP: 0px;
}
#detail UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#detail UL LI {
	FONT-WEIGHT: bold; LIST-STYLE-POSITION: outside; FONT-SIZE: 14px; LIST-STYLE-TYPE: upper-roman
}
#detail UL OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 36px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#detail UL OL LI {
	FONT-WEIGHT: normal; LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; LIST-STYLE-TYPE: decimal
}
