<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <leftarea>selFont</leftarea>
  <leftarea>blank</leftarea>
  <leftarea>fontSize</leftarea>
  <rightarea>justifyleft</rightarea>
  <rightarea>justifycenter</rightarea>
  <rightarea>justifyright</rightarea>
  <rightarea>bold</rightarea>
</configuration>